/* LESS constraints */
/********************/

@doc-width:                               960px;
@doc-min-height:                          600px;

@body-width:                              960px;

@body-background-image:                   url('/img/bg-crossword.png');

@link-color:                              @style-gold;

@header-height:                           60px;
@header-width:                            100%;
@header-min-width:                        1000px;
@header-button-height:                    @header-height;
@header-button-min-width:                 60px;
@header-margin-bottom:                    50px;
@header-content-width:                    @doc-width;

@header-background-color:                 @style-white-9-10ths;
@header-border-color:                     @style-light-grey;
@header-button-link-color:                @style-blue;
@header-logo-background-color:            @style-blue;
@header-shadow-color:                     @style-light-grey;
@header-text-shadow-color:                @style-light-grey;

@wrapper-width:                           @doc-width;
@content-min-height:                      @doc-min-height;
@content-width:                           @doc-width;
@content-row-height:                      auto;
@content-row-width:                       @content-width - 20px;
@content-row-bg-width:                    @content-width - 40px;
@content-col-height:                      auto;
@content-col-width:                       (@content-row-width - 20px) / 2; 
@content-col-thirds-width:                (@content-row-width - 40px) / 3;
@content-col-bg-width:                    (@content-row-bg-width - 20px) / 2;
@content-col-bg-thirds-width:             (@content-row-bg-width - 40px) / 3;
@content-col-bg-thirds-image-width:       ((@content-row-bg-width - 40px) / 3) - 20;
@content-vertical-margin:                 60px;

@content-div-background-color:            @style-black-1-3rd;
@content-inner-div-background-color:      @style-blue-1-3rd;
@content-text-color:                      @style-blue;

@photo-scroller-height:                   400px;
@photo-scroller-width:                    100%;

@photo-scroller-control-height:           72px;
@photo-scroller-control-width:            100%;
@photo-scroller-control-top:              (@photo-scroller-height - @photo-scroller-control-height) / 2;
@photo-scroller-control-bottom:           (@photo-scroller-height - @photo-scroller-control-height) / 2;

// @footer-height:                           480px;
@footer-height:                           220px;
@footer-min-width:                        @doc-width + 25px;
@footer-content-height:                   280px;
@footer-content-width:                    @doc-width;
@footer-content-col-height:               @footer-content-height;
@footer-content-col-thirds-width:         (@footer-content-width - 40px) / 3;
@footer-top-margin:                       @content-vertical-margin;

@footer-background-image:                 url('/img/bg-dirty-old-shirt.png');
@footer-shadow-color:                     darken(@style-light-grey, 5%);

@footer-thin-height:                      180px;
@footer-thin-content-height:              @footer-thin-height - 40px;
@footer-thin-content-width:               @doc-width + 120px;
@footer-thin-content-col-height:          120px;
@footer-thin-content-col-width:           ((@footer-thin-content-width - 20px) / 2) - 20px;
@footer-thin-content-col-thirds-width:    ((@footer-thin-content-width - 40px) / 3) - 20px;
@footer-thin-photo-height:                @footer-thin-content-col-height;
@footer-thin-photo-width:                 @footer-thin-photo-height;
@footer-thin-photo-caption-width:         @footer-thin-content-col-thirds-width - @footer-thin-photo-width - 10px;

@footer-thin-background-color:            @style-black-1-3rd;
@footer-thin-background-image:            url('/img/bg-crossword.png');
@footer-thin-col-background-color:        @style-black-1-10th;

@footer-content-col-background-color:     @style-white-1-3rd;
@footer-content-shadow-color:             darken(@style-light-grey, 5%);



/* CSS Styles */
/**************/

html {
  min-width:  @doc-width;
  min-height: @doc-min-height;

  .no-margin();
  .no-padding();

  .antialiased-fonts();
  .crisp-image-render();
}

body {
  min-width:  @body-width;

  .no-margin();
  .no-padding();

  background-repeat: repeat;
  background-image: @body-background-image;

  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;

  overflow: auto;
}

a {
  color: @link-color;
  text-decoration: none;
}

#header {
  position:   fixed;
  height:     @header-height;
  width:      @header-width;
  min-width:  @header-min-width;
  z-index:    500;

  overflow: hidden;

  margin-bottom: ;

  background-color: @header-background-color;

  .border-top(@line-width: 4px);
  .border-bottom(@line-color: @header-border-color, @line-width: 1px);

  .box-shadow-bottom(@blur: 14px; @shad-color: @header-shadow-color);
}

#header-content {
  width:  @doc-width;
  margin: 0 auto;

  a, a:visited {
    color: @header-button-link-color;
  }

  #header-logo {
    float:        left;
    margin-left:  15px;
    padding:      5px 10px;

    background-color: @header-logo-background-color;
  }

  #header-nameplate {
    float:    left;
    padding:  13px 0;

    #header-nameplate-csscholars {
      text-shadow:  0 1px @header-text-shadow-color;
      
      font-family:  'Dancing Script', serif;
      font-weight:  700;
      font-size:    22pt;

      line-height:  24px;
    }

    #header-nameplate-ucb {
      font-family: 'Maven Pro', sans-serif;
      font-weight: 500;
      font-size: 8pt;

      line-height: 10px;
    }
  }

  #header-rightlinks {
    float: right;

    text-shadow:  0 1px @header-text-shadow-color;
  }

  .header-button {
    height:     @header-button-height;
    min-width:  @header-button-min-width;

    float: left;

    //.border-left(@line-color: @header-border-color, @line-width: 1px);

    .button-div {
      margin:   20px 0;
      padding:  0 15px;

      font-family:  'Maven Pro', sans-serif;
      font-weight:  medium;
      font-size:    14pt;

      line-height:  20px;
      text-align:   center;
    }

  }
}

#wrapper {
  height: auto;
  width:  @wrapper-width;

  margin:   0 auto;
  padding:  0 12px 12px 12px;

  overflow: hidden;
}

#content {
  min-height: @content-min-height;
  width:      @content-width;

  margin: (@header-height + @content-vertical-margin) 0 0 0;

  div {
    text-align: center;

    font-family:  'Maven Pro', sans-serif;
    font-weight:  medium;
    font-size:    24px;

    color: @content-text-color;

    .border-radius(4px);
    background-color: @content-div-background-color;

    img {
      .border-radius(4px);
    }
  }

  .text-photo-wrapper {
    text-align: left;

    b {
      color: @style-blue;
    }

    img {
      margin-bottom: 10px;
    }

    h3, h4 {
      margin-top: 0;
    }

    h3 {
      margin-bottom: 15px;
    }

    h4 {
      margin-top:     15px;
      margin-bottom:  10px;
    }

    p {
      color:  @style-black;

      margin:     0;

      text-align:   justify;
      text-justify: inter-word;

      font-size:    16pt;
      line-height:  18pt;
      text-indent:  20pt;
    }

    p.spaced {
      margin-top: 5px;
    }

    tr {
      margin: 2px;
    }

    td {
      color: @style-black;

      font-size:    16pt;
      line-height:  18pt;
      text-indent:  20pt;
    }

    ul {
      color: @style-black;

      margin-top:     0;
      margin-bottom:  10px;

      padding-left: 40px;

      font-size:    16pt;
      line-height:  18pt;
    }

    .text-photo-left {
      float:  left;
      margin: 0 20px 5px 0;
    }

    .text-photo-right {
      float:  right;
      margin: 0 0 5px 20px;
    }

    .text-photo-top {
      margin-top: 8px;
    }

    .text-photo-no-top {
      margin-top: 0;
    }

    .text-photo-bottom {
      margin-bottom: 8px;
    }

    .text-photo-no-bottom {
      margin-bottom: 0;
    }

    .text-photo-wide {
      margin: 20px 0;
    }

    .p-bottom {
      margin-bottom: 30px;
    }

    .photo-s {
      width:  200px;
      height: 150px;
    }

    .photo-m {
      width:  300px;
      height: 225px;
    }

    .photo-l {
      width:  400px;
      height: 300px;
    }
  }

  .row-div {
    height: @content-row-height;
    width:  @content-row-width;

    margin: 20px 10px 0 10px;
  }

  .row-container {
    height: @content-row-height;
    width:  @content-row-width;

    margin: 20px 10px 0 10px;

    display: inline-block;

    .no-background();

    .col-div {
      height: @content-col-height;
      width:  @content-col-width;

      float: left;
    }

    .col-div:first-child {
      margin-right: 20px;
    }

    .col-div-thirds {
      height: @content-col-height;
      width:  @content-col-thirds-width;

      float: left;
    }

    .col-div-thirds {
      margin-right: 20px;
    }

    .col-div-thirds:last-child {
      margin: 0;
    }

  }

  .row-container-bg {
    height: auto;
    width:  @content-row-bg-width;

    padding: 10px;

    background-color: @content-div-background-color;

    .col-div {
      height: @content-col-height;
      width:  @content-col-bg-width;

      background-color: @content-inner-div-background-color;
    }

    .col-div-thirds {
      height: @content-col-height;
      width:  @content-col-bg-thirds-width;

      background-color: @content-inner-div-background-color;

      span {
        color: @content-text-color;
      }

      .col-div-thirds-anchor {
        margin: 10px;

        height: @content-col-bg-thirds-image-width * (3 / 4);
        width:  @content-col-bg-thirds-image-width;
      }
    }
  }

  .row-block {
    .row-container-bg();

    margin: 20px 10px 0 10px;

    .row-container {
      width:  @doc-width - 40px;

      margin: 0 0 20px 0;
    }

    .row-container:last-child {
      margin: 0;
    }

    .row-div {
      width:  @doc-width - 40px;

      margin: 0 0 20px 0;

      background-color: @content-inner-div-background-color;
    }

    .row-div:last-child {
      margin: 0;
    }
  }

  .photo-scroller {
    overflow: hidden;
    position: relative;

    height: @photo-scroller-height;

    .photo-scroller-control {
      position: absolute;

      top:    @photo-scroller-control-top;
      bottom: @photo-scroller-control-bottom;

      height: @photo-scroller-control-height;
      width:  @photo-scroller-control-width;

      z-index: 200;

      .no-background();

      .photo-scroller-control-left {
        float: left;
      }

      .photo-scroller-control-right {
        float: right;
      }

      .photo-scroller-control-left,
      .photo-scroller-control-right {
        height: @photo-scroller-control-height;
        width:  @photo-scroller-control-height;

        .no-background();

        i {
          color: @style-white-4-5ths;
        }
      }


    }

    .photo-scroller-div {

      display: none;

      .photo-scroller-image {
        position: absolute;
        top:  0;
        left: 0;

        height: @photo-scroller-height;
        width:  @photo-scroller-width;
      }

      .photo-scroller-caption {
        position: absolute;
        bottom: 0;
        left:   0;

        height: auto;
        width:  100%;

        background-color: @style-black-4-5ths;
        color:            @style-white-4-5ths;

        text-align: center;
        font-size:  14pt;

        div {
          .no-background();
          color:      inherit;
          font-size:  inherit;
        }

        div:first-child {
          margin-top: 10px;
        }

        div:last-child {
          margin-bottom: 10px;
        }
      }
    }

    .photo-scroller-div.default {

      display: block;

      .photo-scroller-image {
        z-index: 99;
      }

      .photo-scroller-caption {
        z-index: 100;
      }
    }

  }
}

#footer {
  height:     @footer-height;
  min-width:  @footer-min-width;

  margin-top: @footer-top-margin;

  background-repeat: repeat;
  background-image:  @footer-background-image;

  .box-shadow-top(@blur: 14px; @shad-color: @footer-shadow-color);
}

#footer-content {
  height: @footer-content-height;
  width:  @footer-content-width;

  padding-top: 20px;
  margin: 0 auto 20px auto;

  div {
    .border-radius(4px);
    float: left;
  }

  .col-div-thirds {
    height: @footer-content-col-height;
    width:  @footer-content-col-thirds-width;

    margin-right: 20px;

    background-color: @footer-content-col-background-color;
  }

  .col-div-thirds:last-child {
    margin: 0;
  }
}

#footer-thin {
  height: @footer-thin-height;

  background-image: @footer-thin-background-image;

  //.box-shadow-top(@h-shad: inset; @v-shad: 0; @blur: 2px; @spread: 14px; @shad-color: @style-black-2-3rds);

  .overlay {
    height: @footer-thin-height;
    width:  100%;

    z-index: 2;

    background-color: @footer-thin-background-color;
  }
}

#footer-thin-content {
  height: @footer-thin-content-height;
  width:  @footer-thin-content-width;

  padding-top: 20px;
  margin: 0 auto 20px auto;

  div {
    padding: 10px;

    float: left;

    .border-radius(4px);
  }

  .col-div {
    height: @footer-thin-content-col-height;
    width:  @footer-thin-content-col-width;

    float: left;

    background-color: @footer-thin-col-background-color;
  }

  .col-div:first-child {
    margin-right: 20px;
  }

  .col-div-thirds {
    height: @footer-thin-content-col-height;
    width:  @footer-thin-content-col-thirds-width;

    margin-right: 20px;

    background-color: @footer-thin-col-background-color;
  }

  .col-div-thirds:last-child {
    margin: 0;
  }

  .photo-quote {
    .no-margin();
    .no-padding();

    font-family: 'Maven Pro', sans-serif;
    
    position: relative;
    float: left;

    div {
      .no-margin();
      .no-padding();
      .no-background();
    }

    .photo-quote-img {
      height: @footer-thin-photo-height;
      width:  @footer-thin-photo-width;

      margin-right: 10px;

      float: left;

      .border-radius(@radius: 2px);
    }

    .photo-quote-caption {
      width: @footer-thin-photo-caption-width;

      margin-bottom: 5px;

      float: left;

      font-weight: 400;
      font-size:   11pt;
      line-height: 15px;
    }

    .photo-quote-name:before {
      content: "- ";

      font-weight: 400;
      font-size:   13pt;
      line-height: 14px;
    }

    .photo-quote-name {
      width: auto;

      position: absolute;
      bottom: 0;
      right: 0;

      font-weight: 500;
      font-size:   13pt;
      line-height: 14px;
    }
  }
}
