<div id="footer">
  <div id="footer-thin">
    <div class="overlay">
      <div id="footer-thin-content">
        <div class="col-div-thirds">
          <div class="photo-quote">
            <img class="photo-quote-img" />
            <div class="photo-quote-caption"></div>
            <div class="photo-quote-name"></div>
          </div>
        </div>
        <div class="col-div-thirds">
          <div class="photo-quote">
            <img class="photo-quote-img" />
            <span class="photo-quote-caption"></span>
            <span class="photo-quote-name"></span>
          </div>
        </div>
        <div class="col-div-thirds">
          <div class="photo-quote">
            <img class="photo-quote-img" />
            <span class="photo-quote-caption"></span>
            <span class="photo-quote-name"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div id="footer-content">
    <div class="col-div-thirds"></div>
    <div class="col-div-thirds"></div>
    <div class="col-div-thirds"></div>
  </div> 
  -->
</div>