<div id="header">
  <div id="header-content">
    <div id="header-nameplate">
      <a href="/" id="header-nameplate-link">
        <div id="header-nameplate-csscholars">
          <span id="header-nameplate-cs">CS </span>
          <span id="header-nameplate-scholars">Scholars</span>
        </div>
        <span id="header-nameplate-ucb">University of California, Berkeley</span>
      </a>
    </div>
    <div id="header-rightlinks">
      <a href="/about.html"><div class="header-button"><div class="button-div">About</div></div></a>
      <a href="/support.html"><div class="header-button"><div class="button-div">Support</div></div></a>
      <a href="/contact.html"><div class="header-button"><div class="button-div">Contact</div></div></a>
      <a href="/apply.html"><div class="header-button"><div class="button-div">Apply</div></div></a>
      <a href="http://eecs.berkeley.edu"><img id="header-logo" src="/img/head-eecs-logo.gif" /></a>
    </div>
  </div>
</div>
